.gallery {
  display: flex;
  flex-direction: column;
  gap: 24px;

  margin: 0;
  padding: 0;
  list-style: none;
}

.gallery-item {
  width: 100%;
}

.gallery-img {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .gallery {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .gallery-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .gallery-item {
    width: calc((100% - 2 * 24px) / 3);
  }
}
