.gallery {
  display: flex;
  flex-direction: column;
  gap: 24px;

  width: 100%;
  max-width: 360px;

  margin-left: auto;
  margin-right: auto;
}

.gallery-item {
  width: 100%;
  height: 300px;
}

.gallery-img {
  display: block;
  max-width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 768px) {
  .gallery {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;

    max-width: 744px;
  }

  .gallery-item {
    width: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .gallery {
    max-width: 1128px;
  }
  .gallery-item {
    width: calc((100% - 2 * 24px) / 3);
  }
}
