.controls {
  display: flex;
  column-gap: 16px;

  width: fit-content;

  border-radius: 8px;
  padding: 24px;
  background: rgb(246 246 254);

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 16px;
}

.field-number {
  min-width: 150px;
  text-align: center;
}

.btn-create,
.btn-destroy {
  min-width: 120px;
}

.box-conteiner {
  display: flex;
  flex-wrap: wrap;
  gap: 44px;

  padding: 32px;

  border-radius: 8px;

  background-color: rgb(246 246 254);
}
