.widget {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 345px;
  height: 280px;

  border-radius: 8px;
  padding: 24px;

  background-color: #fff;

  margin-left: auto;
  margin-right: auto;
}

.output {
  margin-bottom: 16px;
}